.main-navigation {
  position: relative;
}

.main-navigation-item:hover .submenu-navigation {
  display: flex;
}

.submenu-navigation {
  background-color: aqua;
  position: absolute;
  display: none;
  top: 100%;
  overflow: hidden;
  transition: .4s;
  transform: none;
  height: auto;
  padding: 10px 30px;
}

.card-icon-count {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 20px;
  left: 24px;
  border-radius: 50%;
  background: #ff3a30;
  color: #fff;
  overflow: hidden;
  font-weight: 600;
  font-size: .75rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}