.main-navigation {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #ffffff;
}

.navigation-logo {
  margin-left: 40px;
}

.main-navigation-item__hover__appliances:hover ~ .submenu__appliances {
  display: flex;
}

.main-navigation-item__hover__better-living:hover ~ .submenu__better-living {
  display: flex;
}

.submenu__appliances:hover,
.submenu__better-living:hover {
  display: flex;
}

.main-navigation-item__hover__better-living {
  margin-right: auto !important;
}

.navigation-icon {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  color: #011e41;
  margin: 0 16px;
}


.submenu__common {
  display: none;
  position: absolute;
  background-color: #fff;
  top: 100%;
  padding: 10px 30px;
  width: 100%;
  border-top: 1px solid #dadada;
}

.main-navigation__main-item {
  display: flex;
  align-items: center;
  margin: 0 20px;
  font-size: 1rem;
  font-weight: 600;
  color: #011e41;
  height: 85px;

  &:hover {
    border-bottom: 4px solid #011e41;
  }
}

.batter-living-item {
  max-width: 25%;
  margin: 10px;
}

.batter-living-item-image {
  max-width: 100%;
  height: auto;
}

.batter-living-item-title {
  font-size: 1.625rem;
  font-weight: 600;
  margin: 14px 0 5px;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 30px;
}

.card-icon-count {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 20px;
  left: 24px;
  border-radius: 50%;
  background: #ff3a30;
  color: #fff;
  overflow: hidden;
  font-weight: 600;
  font-size: .75rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-item {
  padding: 13px 15px;
  margin: 10px 0;
  background-color: rgba(223, 231, 234, .4);
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #011e41;
}

.checkout-item-block {
  padding: 15px 15px 10px;
  background-color: rgba(223, 231, 234, .4);
  border-radius: 2px;
  border: 1px solid #adb9c3;
  cursor: pointer;
  font-size: .875rem;
  line-height: 22px;
}

.checkout-detail {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  display: flex;
}

.quantity-selector {
  input {
    width: 32px;
    text-align: center;
    border: 1px solid #dfe7ea;
  }

  button {
    width: 32px;
    height: 32px;
    padding: 0;
    border: 1px solid #dfe7ea;
  }
}

h1 {
  text-align: center;
}

h2 {
  margin: 0;
}

#multi-step-form-container {
  margin-top: 5rem;
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.pl-0 {
  padding-left: 0;
}

.button {
  padding: 0.7rem 1.5rem;
  border: 1px solid #011e41;
  background-color: #011e41;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn {
  border: 1px solid #011e41;
  background-color: #011e41;
}

.mt-3 {
  margin-top: 2rem;

  & .button {
    margin-right: 20px;
  }
}

.d-none {
  display: none;
}

.form-step {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 3rem;
}

.font-normal {
  font-weight: normal;
}

ul.form-stepper {
  counter-reset: section;
  margin-bottom: 3rem;
}

ul.form-stepper .form-stepper-circle {
  position: relative;
}

ul.form-stepper .form-stepper-circle span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.form-stepper-horizontal {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

ul.form-stepper > li:not(:last-of-type) {
  margin-bottom: 0.625rem;
  -webkit-transition: margin-bottom 0.4s;
  -o-transition: margin-bottom 0.4s;
  transition: margin-bottom 0.4s;
}

.form-stepper-horizontal > li:not(:last-of-type) {
  margin-bottom: 0 !important;
}

.form-stepper-horizontal li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-stepper-horizontal li:not(:last-child):after {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 1px;
  content: "";
  top: 32%;
}

.form-stepper-horizontal li:after {
  background-color: #dee2e6;
}

.form-stepper-horizontal li.form-stepper-completed:after {
  background-color: #011e41;
}

.form-stepper-horizontal li:last-child {
  flex: unset;
}

ul.form-stepper li div .form-stepper-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 0;
  line-height: 1.7rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.38);
  border-radius: 50%;
}

.form-stepper .form-stepper-active .form-stepper-circle {
  background-color: #011e41 !important;
  color: #fff;
}

.form-stepper .form-stepper-active .label {
  color: #011e41 !important;
}

.form-stepper .form-stepper-active .form-stepper-circle:hover {
  background-color: #011e41 !important;
  color: #fff !important;
}

.form-stepper .form-stepper-unfinished .form-stepper-circle {
  background-color: #f8f7ff;
}

.form-stepper .form-stepper-completed .form-stepper-circle {
  background-color: #011e41;
  background-image: url('https://www.electrolux.co.th/Static/assets/images/icons/checked-icon.svg');
  background-repeat: no-repeat;
  background-position: 50%;
}

.form-stepper .form-stepper-completed .label {
  color: #011e41 !important;
}

.form-stepper .form-stepper-active span.text-muted {
  color: #fff !important;
}

.form-stepper .form-stepper-completed span.text-muted {
  color: #fff !important;
}

.form-stepper .label {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.form-stepper div {
  cursor: default;
}

.global-search-nav {
  margin: 0;
  box-shadow: none;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  padding: 0 10px 0 0;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  border-radius: 0;
  background-color: #fff;
  border-color: #ffffff;
  font-family: inherit;
  line-height: 1.5;
  appearance: none;
  outline: none;
}

.view-all-search-icon {
  padding: 2px 10px 2px 15px;
}

.input-area {
  position: relative;
  margin: 12px 5px 12px 20px;
  display: flex;
  align-items: center;
}

.search-bar {
  display: none;
  left: 580.109px;
  max-width: 375px;
  //top: calc(100% - 23px);
  z-index: 40;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
  position: absolute;
  width: 100%;
  top: 65px;
  background: #fff;
}

.submenu-navigation__group {
  margin-bottom: 30px;
  width: 100%;
  padding: 0 10px;
}

.submenu-navigation__group-title {
  font-weight: 600;
  font-size: 1rem;
  text-align: left;
  color: #011e41;
  margin: 7px 0 11px;
  position: relative;
  display: flex;
  align-items: center;
}

.preview {
  //margin: auto auto 2px;
  margin-right: 2px;
  width: 25px;
  height: 25px;
}

.submenu-navigation__group-item {
  padding: 10px 0 0;
  max-height: none;
  transition: unset;
}

.link {
  text-decoration: none;
  color: #011e41;
}
