.main-navigation {
  position: relative;
}

.main-navigation-item:hover .submenu-navigation {
  display: flex;
}

.submenu-navigation {
  background-color: aqua;
  position: absolute;
  display: none;
  top: 100%;
  overflow: hidden;
  transition: .4s;
  transform: none;
  height: auto;
  padding: 10px 30px;
}