.slick-list {
  width: 100%;
}

.card {
  height: 500px;
}

.mantine-Carousel-control {
  padding: 16px;
  border: 2px solid #011e41;
  background: #dfe7ea;
  opacity: .6;
  width: 64px;
  height: 64px;
  border-radius: 2.625rem;
}
